COC_SLACK_URL="https://hooks.slack.com/services/DEADBEEFD/EADBEEFDEAD/BEEFDEADBEEFDEADBEEFDEAD"
COC_HTTP_SCHEME="http"
COC_NUMBERS="+12155550010,+15135550000"
COC_AFTER_HOURS_NUMBERS="+12165550199,+14125550100"
